/* Dropdown container */
.dropdown-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  /* Dropdown open state */
  .dropdown-content.dropdown-open {
    max-height: 500px; /* Đặt chiều cao tối đa đủ lớn để hiển thị nội dung */
    opacity: 1;
  }
  
  /* Arrow rotation */
  .dropdown-arrow {
    transition: transform 0.3s ease-in-out;
  }
  
  